.country{
    border: 2px solid sienna;
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}
.visited{
    background-color: bisque;
    color: black;
}